@font-face {
    font-family: "OstrichSans-Black";
    src: url(./OstrichSans-Black.otf) format("opentype");
}
p {
    text-align: center;
}

h1 {
    text-align: center;
    font-style: oblique;
    font-family: OstrichSans-Black;
}
