@font-face {
    font-family: "OstrichSans-Black";
    src: url(./OstrichSans-Black.otf) format("opentype");
}
body {
    background: #2b4472;
    margin: 0;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
 }

nav * {
    display: inline;
    vertical-align: middle;
    color: white;
    font-family: OstrichSans-Black;
}

nav li {
    text-decoration: none;
    text-align: center;
    margin: .5em;
    padding: 1em;
    padding-top: 2em;
    font-size: 1em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}
p {
    text-align: center;
    color: white;
    font-family: OstrichSans-Black;
}

h1 {
    text-align: center;
    font-family: OstrichSans-Black;
    color: white;
}

.background {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1px;
}
